<!DOCTYPE html>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{name}}</h4>
    <a href="/portfolios/show/{{_id}}">Link</a>
    {{#each assets}}
      <p class="card-text" id"{{name}}">{{name}}: {{quantity}}</p>
    {{/each}}
  </div>
</div>
