<!DOCTYPE html>
<label for"{{name}}">{{name}}</label>
<input id="{{name}}" name="assets[{{@index}}][quantity]" class="form-control" type="text"></input>
<input name="assets[{{@index}}][name]" value="{{name}}" type="hidden">
